//@ Import fonts
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Poppins:wght@600&display=swap');

// Colors:
    // Primary
    $c-p-pink: hsl(322, 100%, 66%);
    // Neutral
    $c-n-Very-Pale-Cyan: hsl(193, 100%, 96%);
    $c-n-Very-Dark-Cyan: hsl(192, 100%, 9%);
    $c-n-Grayish-Blue: hsl(208, 11%, 55%);
    $c-n-white: hsl(0,0,100);
    $c-n-black: hsl(0,0,0);
    // Gradients
// Screen Variables
    $screen-min: 23.4375rem;
    $screen-max: 90rem;
// Fonts    
    $ff-open-sans: 'Open Sans', sans-serif;
    $ff-poppins: 'Poppins', sans-serif;
    $f-regular: 400;
    $f-semibold: 600;
    $f-bold: 700;



body{ 
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background-color: $c-n-white;
}

