.row{
    display: flex;
}
.main-container{
    max-width: 1440px;
    padding-inline: 5%;
}
.header{
    min-height: 100vh;
    min-height: 100svh;

    background: url(../images/bg-hero-mobile.svg), $c-n-Very-Pale-Cyan;
    background-size: 100% 100%;

    flex-direction: column;
}
.main{
    padding-block-start: 10%;
    padding-block-end: max( 12.5rem, 20%);
    position: relative;
}
.footer{
    background-color: $c-n-Very-Dark-Cyan;
    padding-top: 6.25rem;
    padding-bottom: 5%;
}
