.row{
    display: flex;
}
.main-container{
    max-width: 1440px;
    padding-inline: 5%;
}
.header{
    min-height: 100vh;
    min-height: 100svh;

    background: url(../images/bg-hero-mobile.svg), $c-n-Very-Pale-Cyan;
    background-size: 100% 100%;

    flex-direction: column;
}
.main{
    padding-block: 10%;
}
