@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
}

a {
  color: black;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
}

.section {
  width: clamp(21.875rem, 100%, 90rem);
  padding-inline: 5%;
}

.header {
  min-height: 100vh;
  min-height: 100svh;
  background: url(../images/bg-hero-mobile.svg), hsl(193, 100%, 96%);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.header__wrapper__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__wrapper__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 55.625rem) {
  .header {
    background: url(../images/bg-hero-desktop.svg), hsl(193, 100%, 96%);
  }
  .header__wrapper__info {
    flex: 0.9;
    align-items: start;
  }
  .header__wrapper__img {
    flex: 1.1;
  }
}
.navbar {
  display: flex;
  align-items: center;
  font-size: clamp(0.625rem, 0.0037558685 * (100vw - 23.4375rem) + 0.625rem, 0.875rem);
  padding-top: 2.4em;
}
.navbar__logo {
  height: 1.6em;
}
.navbar__logo img {
  height: 100%;
}
.navbar__btn {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-left: auto;
  padding-inline: 2.5em;
  padding-block: 0.5em;
  color: hsl(192, 100%, 9%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 10em;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(1.5rem, 0.0150234742 * (100vw - 23.4375rem) + 1.5rem, 2.5rem);
  text-align: center;
  width: 80%;
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.header-paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 0.0018779343 * (100vw - 23.4375rem) + 1rem, 1.125rem);
  text-align: center;
  width: 90%;
  margin-bottom: 2rem;
}

.header-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.0018779343 * (100vw - 23.4375rem) + 0.75rem, 0.875rem);
  padding-block: 1em;
  padding-inline: 5em;
  border-radius: 10em;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  color: hsl(193, 100%, 96%);
  background-color: hsl(322, 100%, 66%);
  margin-bottom: 1.5em;
}

.header-img {
  width: 90%;
}

@media only screen and (min-width: 55.625rem) {
  .header-title {
    text-align: start;
    margin-top: 0;
  }
  .header-paragraph {
    text-align: start;
  }
  .header-btn {
    margin-top: 0;
  }
  .header-img {
    width: 100%;
  }
}
.navbar__btn:active {
  transform: scale(0.9);
  box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.15);
}

.header-btn:active {
  transform: scale(0.96);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=style.css.map */